main {
    padding: 16px;
}

section {
    padding: 8px;
}

h3 { 
    font-size: 32px;
    margin-bottom: 16px;
}

.conteudoContainer {
    padding: 32px;
    display: grid;
    justify-items: stretch;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 60px;
}

.card {
    width: 250px;
    height: 300px;
    background-color: #E6AF2E;
    color: #191716;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 16px;
}

.card::selection {
    background-color: #191716;
    color: #E6AF2E;
}

.card img {
    height: 120px;
    width: 225px;
}

.card span {
    text-align: justify;
    text-justify: inter-word;
}

.cardContent {    
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cardContent h4 a {
    text-decoration: none;
    color: #191716;
    cursor: pointer;
}

.cardContent h4 a:hover {
    border-style: solid;
}

.cardNotAvailable {
    filter: grayscale(1);
}

.cardNotAvailable h4 {
    cursor: default;
}

.cardContent h4:hover {
    border-style: none;
}

@media screen and (max-width: 600px) {
    section {
        padding: 16px;
    }

    section.text {
        width: 90%;
    }

    .conteudoContainer {
        display: flex;
        flex-direction: column;
    }
}